# Python
__pycache__/
*.py[cod]
*.so
.venv/
venv/

# Data artifacts
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
outputs/*
!outputs/.gitkeep
!outputs/submissions/
!outputs/figures/

# Notebooks
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
